# --- БЕЗОПАСНОСТЬ (Критично) ---
# Игнорируем только секретные хранилища ключей
*.jks
*.p12
*.key

# --- Сборка Maven ---
target/
.mvn/wrapper/maven-wrapper.jar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- VS Code ---
.vscode/

# --- Системный мусор ---
.DS_Store
Thumbs.db